/*
161c22
*/

:root {
  --general_background_color: #251F24;
  --general_color_text: #FFFFFF;
  --gray_text_color: #A5A3A5;
  --background_pre_color: #3A3539;
  --black-color: #000000 margin: 0px;
  font-size: 17px;
  color: var(--general_color_text);
  background: var(--general_background_color);
  font-family: 'Nunito', sans-serif;
  display: block;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  font-size: 14px;
  position: absolute;
  top: 64px;
  left: -232px;
  width: 208px;
}

.header{
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
}

header nav a {
  color: var(--gray_text_color);
  text-decoration: none;
}

header nav li {
  margin-bottom: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.wrapper {
  width: 936px;
  margin: auto;
}

nav summary {
  font-weight: bold;
}

nav a:hover {
  background: var(--black-color);
  border-radius: 2px;
  color: #FFFFFF;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 87.3px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 40px 0;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 16px 0;
  position: sticky;
  top: 0;
  background: var(--general_background_color);
}

h4 {
  font-size: 24px;
}

p, li {
  color: var(--gray_text_color);
  line-height: 24px;
}

pre {
  background: var(--background_pre_color);
  padding: 40px;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
}

.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 350px;
}

.section-setup {
  counter-reset: section-setup-counter;
}

section.section-setup h3 {
  counter-increment: section-setup-counter;
}

section.section-setup h3::before {
  content: counter(section-setup-counter, decimal) '. ';
}

.section-concepts {
  counter-reset: section-concepts-counter;
}

.section-concepts ul li {
  margin: 16px 0;
}

section.section-css h3::before {
  content: '';
}

.section-introduction h1 {
  margin-top: 64px;
  margin-bottom: 16px;
}

hr {
  border: 1px solid rgba(97, 97, 97, 0.2);
  margin: 40px 0;
}

h3~p {
  margin-bottom: 40px;
}

.section-setup blockquote {
  margin: 80px 0 63px 0;
  padding: 24px;
  border-radius: 5px;
  background: var(--background_pre_color);
  font-size: 24px;
}

.section-setup blockquote p {
  color: #FFFFFF;
}

.debug {
  box-shadow: 0 0 0 1px red;
}